#calendar{

    width:100 %;
    max-width:320 px;
    margin:auto;

    background:#C8C3E0;

    border:3 px solid #220057;
    border-radius:16 px;

    padding:16 px;

    box-sizing:border-box;

    font-family:Arial, sans-serif;

}
