/* ---------- Widget ---------- */
#firefly-widget{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:15px 0;
}

/* ---------- Contenedor del frasco ---------- */
#jar-container{
    position: relative;
    width: 200px;
    margin: 0 auto;
    margin-left:20px;
}

/* ---------- Imagen del frasco ---------- */
#jar{
    width: 100%;
    height: auto;
    display: block;
}

/* ---------- Capa donde irán las luciérnagas ---------- */
#fireflies-layer{
    position:absolute;
    inset:0;
    overflow:hidden;
    pointer-events:none;
}

/* ---------- Luciérnagas ---------- */
.firefly{

    position:absolute;

    width:0;
    height:0;

    pointer-events:none;

}

.firefly-core{

    position:absolute;

    width:8px;
    height:8px;

    border-radius:50%;

    background:#FFD84D;

    transform:translate(-50%,-50%);

    z-index:2;

}

.firefly-glow{

    position:absolute;

    width:24px;
    height:24px;

    border-radius:50%;

    transform:translate(-50%,-50%);

    background:radial-gradient(
        circle,
        rgba(255,216,77,.75) 0%,
        rgba(255,216,77,.30) 45%,
        rgba(255,216,77,0) 100%
    );

    z-index:1;

}
